body {
    font-family: Georgia, "Times New Roman", serif;
    background : url('/images/1.jpg') #333;
    color: #fff;
    margin: 0;
    padding: 0;
}
input, select {
    font-family: Georgia, "Times New Roman", serif;
}
#gui, #buttons {
    z-index: 2;
}
#info {
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
    right: 50%;
    margin-right: 400px;
    bottom: 0;
    width: 200px;
    height: 110px;
    font-size: 12px;
}
#debug {
    display: none;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    bottom: 130px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 30px;
    font-size: 12px;
}
#buttons {
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 420px;
    width: 200px;
    height: 110px;
}
#gui {
    padding: 10px;
    background: #444;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 110px;
}
#lose {
    padding: 50px;
    background: #400;
    color: #fff;
    font-size: 36px;
    width: 150px;
    margin-left: -75px;
    position: fixed;
    top: 100px;
    left: 50%;
    display: none;
}
#win {
    padding: 50px;
    background: #040;
    color: #fff;
    font-size: 36px;
    width: 150px;
    margin-left: -75px;
    position: fixed;
    top: 100px;
    left: 50%;
    display: none;
}
#loading {
    padding: 50px;
    color: #fff;
    font-size: 36px;
    width: 150px;
    margin-left: -75px;
    position: fixed;
    top: 100px;
    left: 50%;
}
#paused {
    color: #fff;
    font-size: 36px;
    width: 150px;
    margin-left: -75px;
    position: fixed;
    top: 100px;
    left: 50%;
    display: none;
}